.main.text.container{
    margin-top: 6em;
}

.content-starter{
    margin-top: 2em;
}

div.ui.huge.header{
    text-align: center;
}
img.ui.centered.rounded.imgage{
    text-align: center;
}

#deleteform{
    display: inline;
}